@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&family=New+Amsterdam&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: #F5F2EC;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

header, main, footer{
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3vh; 
}

#header-div{    
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vh;
    
}



#logo-nombre {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1vh;
    margin: 0;
    padding: 0;
    order: -100;
}

#logo {
    height: 8vh;
    width: auto;
    margin: 0;
    margin-left: 0vh;
        padding: 0;
    }
    
    #nombre-blog {
        margin: 0;
        padding: 0;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 3.5vh;
        font-style: normal;
        text-decoration: none;
        color: black;
    }
        #nombre-blog::after {
            content: "";
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 0;
            height: 2px;
            background-color: black;
            transition: width 0.3s ease;
        }

        #nombre-blog:hover {
            text-decoration: underline;
        }

        #nombre-blog:hover::after {
            width: 100%;
        }
    
    nav{
        flex-flow: row wrap;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 0;
        margin-right: 5vh;
        gap: 3vh;
        order: -50;
    }
    
    .nav-link {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 1.7vh;
        text-decoration: none;
        color: black;
        margin: 0;
        position: relative;
        transition: color 0.3s ease;
    }
        .nav-link::after {
            content: "";
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 0;
            height: 2px;
            background-color: black;
            transition: width 0.3s ease;
        }

        .nav-link:hover {
            color: black;
        }

        .nav-link:hover::after {
            width: 100%;
        }


.secciones {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1.8vh;
    font-style: normal;
    background-color: #F5F2EC;
    border: 1px solid #ccc;
    color: black;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

    .categorias{
        font-family: "Space Grotesk", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: bold;
        font-size: 4vh;
        margin: 2vh;
        

    }
        #prox{
            font-size: 3vh;
            color: black;
        }


        .paises_cat{
            height: auto;
            width: 80%;
            display: flex;
            color: black;
            text-decoration: none;
            background-color: black;
            border: 1px solid #ccc;
            color: white;
        }
        
        .paises_cat img{
                width: auto;
                height: 25vh;
                margin: 0;
                
            }

            
        .info-paises{
            width: 60%;
            height: auto;
            display: flex;
            margin: 0;
            margin-top: 5vh;
            padding: 0;
            align-items: center;
            justify-content: center;
            display: inline-block;
        }
            .info-paises a{
                color: white;
                text-decoration: none;
                margin: 2vh;
                margin-left: 0;
                font-size: 4vh;
                transition: 0.3s ease;
            }

            .descripciones{
                color: white;
                font-size: 1.5vh;
                margin-top: 0;
                font-weight: 400;
            }
            
            .paises_cat a:hover{
                font-size: 4.2vh;
                text-decoration: underline;
            }

    .divs-int{
        margin: 0;
        padding: 0;
        display: inline-block;
    }
        .divs-int2{
            float: right;
        }

    .secciones div{
        margin: 4%;
        margin-top: 0.5%;
    }


.espaciador {
    height: 30vh;
}
























footer {
    width: 100%;
    height: 80%;
    background-color: black;
    margin-top: 0;
    font-size: 1.8vh;
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

#div-1, #div-2, #div-3 {
    display: inline-block;
    width: 32%;
    margin: 0;
    padding: 0;
    margin-top: 1%;
}
    #div-1{
        margin-left: 2vh;
    }
        #sugerencia{
            width: 80%;
            height: 5vh;
        }

@media (max-width: 900px) {

  html, body { overflow-x: hidden; }


  header { margin-top: 2vh; }

    #header-div{
        width: 92%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2vh;
    }

  #logo-nombre{
    width: 100%;
    justify-content: center;
    gap: 1.2vh;
    order: -100;
  }

    #logo{ height: 6.5vh; width: auto; margin: 0; }
    #nombre-blog{ font-size: 3vh; }

  nav{
    width: 100%;
    justify-content: center;
    gap: 2vh;
    margin-right: 0;
    order: -50;
    flex-wrap: wrap;
  }
    .nav-link{ font-size: 1.8vh; }


  .secciones{
    width: 92%;
    margin: 3vh auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2vh;
  }

        .categorias{
            font-size: 3.5vh;
            text-align: center;
            margin-bottom: 2vh;
        }

        #prox{
            font-size: 2.5vh;
        }


.paises_cat{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto 3vh auto; 
    border: none;
    background-color: black;
    color: white;
}

        .paises_cat img{
            width: 100%;
            height: auto;
            margin: 0;
        }

        .info-paises{
            width: 100%;
            margin-top: 2vh;
            text-align: center;
        }

        .info-paises a{
            display: block;
            font-size: 3.5vh;
            margin: 1vh 0;
        }

        .descripciones{
            font-size: 1.8vh;
            margin: 0 auto 2vh auto;
            width: 90%;
        }

  .espaciador{ display: none; }


  footer{
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.2vh;
    padding: 3vh 0;
    font-size: 1.9vh;
  }

        #div-1, #div-2, #div-3{
            width: 92%;
            display: block;
            text-align: center;
            margin-top: 0;
        }

        #sugerencia{
            width: 100%;
            height: 12vh;
        }

        #boton-form{
            margin-top: 1.5vh;
            min-height: 5.5vh;
            padding: 0 2vh;
        }
}